<div id="footer" class="container">

<% if I18n.locale == :en %>
  
  <div class="carouselLogoWrapper row1" data-ride="carousel" data-interval="false">
     <div class="row">
       <ul class="logos carousel-inner">
         <li class="carouselLogo active"><%= image_tag "kmska.jpg", :alt => "Royal Museum of Fine Arts Antwerp"  %></li>
         <li class="carouselLogo"><%= image_tag "groeninge.jpg", :alt => "Groeninge Museum Bruges" %></li>
         <li class="carouselLogo"><%= image_tag "msk.jpg", :alt => "Museum of Fine Arts Ghent" %></li>
         <li class="carouselLogo"><%= image_tag "mleuven.jpg", :alt => "M - Museum Leuven" %></li>
         <li class="carouselLogo"><%= image_tag "muzee.jpg", :alt => "Mu.ZEE Ostend" %></li>
       </ul>
       <div class="buttons">
          <button id="prevButton" href=".row1" type="button" class="btn btn-default btn-xs carouselButton" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </button>

          <button id="nextButton" href=".row1" type="button" class="btn btn-default btn-xs carouselButton" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
      </div>
    </div>
  </div>

  <div class="carouselLogoWrapper row2" data-ride="carousel" data-interval="false">
     <div class="row">
       <ul class="logos carousel-inner">
         <li class="carouselLogo active"><%= image_tag "logo_vkc_en.jpg", :alt => "Flemish Art Collection" %></li>
         <li class="carouselLogo"><%= image_tag "logo_packed.png" %></li>
         <li class="carouselLogo"><%= image_tag "flanders.png", :alt => "Flanders. State of Art." %></li>
       </ul>
        <div class="buttons">
          <button id="prevButton" href=".row2" type="button" class="btn btn-default btn-xs carouselButton" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </button>

          <button id="nextButton" href=".row2" type="button" class="btn btn-default btn-xs carouselButton" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
      </div>
    </div>
  </div>
  
  <div class= "row3">
    <div class="row">
      <ul class="menu">
        <li><%= link_to 'Contact', page_path(id: 'contact-en') %></li>
        <li><%= link_to 'Legal notification', page_path(id: 'legal-notification') %></li>
      </ul>
    </div>
  </div>

<% else %>

  <div class="carouselLogoWrapper row1" data-ride="carousel" data-interval="false">
     <div class="row">
       <ul class="logos carousel-inner">
         <li class="carouselLogo active"><%= image_tag "kmska.jpg", :alt => "Koninklijk Museum voor Schone Kunsten Antwerpen"  %></li>
         <li class="carouselLogo"><%= image_tag "groeninge.jpg", :alt => "Groeningemuseum Brugge" %></li>
         <li class="carouselLogo"><%= image_tag "msk.jpg", :alt => "Museum voor Schone Kunsten Gent" %></li>
         <li class="carouselLogo"><%= image_tag "mleuven.jpg", :alt => "M - Museum Leuven" %></li>
         <li class="carouselLogo"><%= image_tag "muzee.jpg", :alt => "Mu.ZEE Oostende" %></li>
       </ul>
       <div class="buttons">
          <button id="prevButton" href=".row1" type="button" class="btn btn-default btn-xs carouselButton" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </button>

          <button id="nextButton" href=".row1" type="button" class="btn btn-default btn-xs carouselButton" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
      </div>
    </div>
  </div>

  <div class="carouselLogoWrapper row2" data-ride="carousel" data-interval="false">
     <div class="row">
       <ul class="logos carousel-inner">
         <li class="carouselLogo active"><%= image_tag "logo_vkc_nl.png" %></li>
         <li class="carouselLogo"><%= image_tag "logo_packed.png" %></li>
         <li class="carouselLogo"><%= image_tag "flanders.png" %></li>
       </ul>
       <div class="buttons">
          <button id="prevButton" href=".row2" type="button" class="btn btn-default btn-xs carouselButton" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </button>

          <button id="nextButton" href=".row2" type="button" class="btn btn-default btn-xs carouselButton" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
      </div>
    </div>
  </div>

  <div class= "row3">
    <div class="row">
      <ul class="menu">
        <li><%= link_to 'Contact', page_path(id: 'contact-nl') %></li>
        <li><%= link_to 'Juridische kennisgeving', page_path(id: 'juridische-kennisgeving') %></li>
      </ul>
    </div>
  </div>

<% end %>

</div>

<script>
 (function($) {
    var $window = $(window),
        $div = $('.carouselLogoWrapper'),
        $li = $('.carouselLogo');

    function resize() {
        if ($window.width() <= 402) {
            return ($div.addClass('carousel'), $li.addClass('carousel-item'));
        }

        $div.removeClass('carousel');
        $li.removeClass('carousel-item');
    }

    $window
        .resize(resize)
        .trigger('resize');
})(jQuery);
</script>