<div class="collections">

	<div class="row0">
	    <div class="text-center">
	    	<h2>Collections</h2>
	    	<p>Arthub Flanders is a userfriendly searchmachine which makes finding information about cultural heritage objects across the boundaries of collections and the Flemish museums of Fine and Contemporary Arts possible.</p>
	    </div>
	</div>

	<div class="row1">
		<div class="col-sm-12 col-md-7 col1">
			<a href="www.kmska.be/en/index.html?_language=en" title="Royal Museum of Fine Arts Antwerp" target="_blank"><%= image_tag "kmska.jpg", :alt => "Royal Museum of Fine Arts Antwerp" %></a>
			<p><a href="www.kmska.be/en/index.html?_language=en" title="Royal Museum of Fine Arts Antwerp" target="_blank">Royal Museum of Fine Arts Antwerp</a></p>
		</div>
		<div class="col-sm-12 col-md-5 col2">
			<a href="https://bezoekers.brugge.be/en/groeningemuseum-groeninge-museum" title="Groeninge Museum Bruges" target="_blank"><%= image_tag "groeninge.jpg", :alt => "Groeninge Museum Bruges" %></a>
			<p><a href="https://bezoekers.brugge.be/en/groeningemuseum-groeninge-museum" title="Groeninge Museum Bruges" target="_blank">Groeninge Museum Bruges</a></p>
		</div>
		<div class="col-sm-12 col-md-7 col1">
			<a href="www.mskgent.be/en" title="Museum of Fine Arts Ghent " target="_blank"><%= image_tag "msk.jpg", :alt => "Museum of Fine Arts Ghent " %></a>
			<p><a href="www.mskgent.be/en" title="Museum of Fine Arts Ghent " target="_blank">Museum of Fine Arts Ghent </a></p>
		</div>
		<div class="col-sm-12 col-md-5 col2">
			<a href="www.mleuven.be/en/index.jsp" title="M - Museum Leuven" target="_blank"><%= image_tag "mleuven.jpg", :alt => "M - Museum Leuven" %></a>
			<p><a href="www.mleuven.be/en/index.jsp" title="M - Museum Leuven" target="_blank">M - Museum Leuven</a></p>
		</div>
		<div class="col-sm-12 col-md-7 col1">
			<a href="www.muzee.be/index.jsp?lang=en"" title="Mu.ZEE Ostend" target="_blank"><%= image_tag "muzee.jpg", :alt => "Mu.ZEE Ostend" %></a>
			<p><a href="www.muzee.be/index.jsp?lang=en"" title="Mu.ZEE Ostend" target="_blank">Mu.ZEE Ostend</a></p>
		</div>
	</div>

</div>