<div class="collections">

	<div class="row0">
	    <div class="text-center">
	    	<h2>Collecties</h2>
	    	<p>Arthub Flanders is een gebruiksvriendelijke zoekmachine om informatie over kunst- en erfgoedobjecten terug te vinden over de grenzen van collecties aanwezig in de Vlaamse musea voor Beeldende Kunsten heen.</p>
	    </div>
	</div>

	<div class="row1">
		<div class="col-sm-12 col-md-6 col1">
			<div class="logo">
				<a href="http://www.kmska.be/nl" title="Koninklijk Museum voor Schone Kunsten Antwerpen" target="_blank"><%= image_tag "kmska.jpg", :alt => "Koninklijk Museum voor Schone Kunsten Antwerpen" %></a>
			</div>
			<h3><a href="http://www.kmska.be/nl" title="Koninklijk Museum voor Schone Kunsten Antwerpen" target="_blank">Koninklijk Museum voor Schone Kunsten Antwerpen</a></h3>
			<p>T +32 (0)3 224 95 61</p>
			<p>E <a href="mailto:publiekswerking@kmska.be">publiekswerking@kmska.be</a></p>
		</div>
		<div class="col-sm-12 col-md-6 col2">
			<div class="logo">
				<a href="https://bezoekers.brugge.be/nl/groeningemuseum" title="Groeningemuseum Brugge" target="_blank"><%= image_tag "groeninge.jpg", :alt => "Groeningemuseum Brugge" %></a>
			</div>
			<h3><a href="https://bezoekers.brugge.be/nl/groeningemuseum" title="Groeningemuseum Brugge" target="_blank">Groeningemuseum Brugge</a></h3>
			<p>T +32 (0)50 44 87 43</p>
			<p>E <a href="mailto:musea.reservatie@brugge.be">musea.reservatie@brugge.be</a></p>
		</div>
		<div class="col-sm-12 col-md-6 col1">
			<div class="logo">
				<a href="https://www.mskgent.be" title="Museum voor Schone Kunsten Gent" target="_blank"><%= image_tag "msk.jpg", :alt => "Museum voor Schone Kunsten Gent" %></a>
			</div>
			<h3><a href="https://www.mskgent.be" title="Museum voor Schone Kunsten Gent" target="_blank">Museum voor Schone Kunsten Gent</a></h3>
			<p>T +32 (0)9 240 07 00</p>
			<p>E <a href="mailto: museum.msk@gent.be">museum.msk@gent.be</a></p>
		</div>
		<div class="col-sm-12 col-md-6 col2">
			<div class="logo">
				<a href="https://www.mleuven.be/index.jsp" title="M - Museum Leuven" target="_blank"><%= image_tag "mleuven.jpg", :alt => "M - Museum Leuven" %></a>
			</div>
			<h3><a href="https://www.mleuven.be/index.jsp" title="M - Museum Leuven" target="_blank">M - Museum Leuven</a></h3>
			<p>T +32 (0)16 27 29 29</p>
			<p>E <a href="mailto: bezoekm@leuven.be">bezoekm@leuven.be</a></p>
		</div>
		<div class="col-sm-12 col-md-6 col1">
			<div class="logo">
				<a href="http://www.muzee.be/index.jsp?lang=nl"" title="Mu.ZEE Oostende" target="_blank"><%= image_tag "muzee.jpg", :alt => "Mu.ZEE Oostende" %></a>
			</div>
			<h3><a href="http://www.muzee.be/index.jsp?lang=nl"" title="Mu.ZEE Oostende" target="_blank">Mu.ZEE Oostende</a></h3>
			<p>T +32 (0)59 50 81 18</p>
			<p>E <a href="mailto: info@muzee.be">info@muzee.be</a></p>
		</div>
	</div>

</div>