<% title = "Collections" %>
<% @page_title = "#{title} - #{application_name}" %>
<% content_for(:meta_description) do %>Arthub Flanders collects metadata about cultural heritage objects of the Flemish museums of Visual Arts. Search through the different collections.<% end %>

<div class="collections">

	<div class="row0">
	    <div class="text-center">
	    	<h2><%= title %></h2>
	    	<p>Arthub Flanders is a userfriendly searchmachine which makes finding information about cultural heritage objects across the boundaries of collections and the Flemish museums of Fine and Contemporary Arts possible.</p>
	    </div>
	</div>

	<div class="row1">
		<div class="col-sm-12 col-md-6 col1">
			<div class="logo">
				<a href="http://www.kmska.be/en/index.html?_language=en" title="Royal Museum of Fine Arts Antwerp" target="_blank"><%= image_tag "kmska.jpg", :alt => "Royal Museum of Fine Arts Antwerp" %></a>
			</div>
			<h3><a href="http://www.kmska.be/en/index.html?_language=en" title="Royal Museum of Fine Arts Antwerp" target="_blank">Royal Museum of Fine Arts Antwerp</a></h3>
			<p>T +32 (0)3 224 95 61</p>
			<p>E <a href="mailto:publiekswerking@kmska.be">publiekswerking@kmska.be</a></p>
		</div>
		<div class="col-sm-12 col-md-6 col2">
			<div class="logo">
				<a href="https://bezoekers.brugge.be/en/groeningemuseum-groeninge-museum" title="Groeninge Museum Bruges" target="_blank"><%= image_tag "groeninge.jpg", :alt => "Groeninge Museum Bruges" %></a>
			</div>
			<h3><a href="https://bezoekers.brugge.be/en/groeningemuseum-groeninge-museum" title="Groeninge Museum Bruges" target="_blank">Groeninge Museum Bruges</a></h3>
			<p>T +32 (0)50 44 87 43</p>
			<p>E <a href="mailto:musea.reservatie@brugge.be">musea.reservatie@brugge.be</a></p>
		</div>
		<div class="col-sm-12 col-md-6 col1">
			<div class="logo">
				<a href="https://www.mskgent.be/en" title="Museum of Fine Arts Ghent " target="_blank"><%= image_tag "msk.jpg", :alt => "Museum of Fine Arts Ghent " %></a>
			</div>
			<h3><a href="https://www.mskgent.be/en" title="Museum of Fine Arts Ghent " target="_blank">Museum of Fine Arts Ghent </a></h3>
			<p>T +32 (0)9 240 07 00</p>
			<p>E <a href="mailto: museum.msk@gent.be">museum.msk@gent.be</a></p>
		</div>
		<div class="col-sm-12 col-md-6 col2">
			<div class="logo">
				<a href="https://www.mleuven.be/en/index.jsp" title="M - Museum Leuven" target="_blank"><%= image_tag "mleuven.jpg", :alt => "M - Museum Leuven" %></a>
			</div>
			<h3><a href="https://www.mleuven.be/en/index.jsp" title="M - Museum Leuven" target="_blank">M - Museum Leuven</a></h3>
			<p>T +32 (0)16 27 29 29</p>
			<p>E <a href="mailto: bezoekm@leuven.be">bezoekm@leuven.be</a></p>
		</div>
		<div class="col-sm-12 col-md-6 col1">
			<div class="logo">
				<a href="http://www.muzee.be/index.jsp?lang=en"" title="Mu.ZEE Ostend" target="_blank"><%= image_tag "muzee.jpg", :alt => "Mu.ZEE Ostend" %></a>
			</div>
			<h3><a href="http://www.muzee.be/index.jsp?lang=en"" title="Mu.ZEE Ostend" target="_blank">Mu.ZEE Ostend</a></h3>
			<p>T +32 (0)59 50 81 18</p>
			<p>E <a href="mailto: info@muzee.be">info@muzee.be</a></p>
		</div>
	</div>

</div>