<% title = "Handleiding voor Arthub Flanders" %>
<% @page_title = "#{title} - #{application_name}" %>
<% content_for(:meta_description) do %>Arthub Flanders is een catalogus voor een brede gemeenschap van museale medewerkers, ontwikkelaars en vele anderen. Leer hoe je Arthub Flanders kan gebruiken.<% end %>

<div class="col-md-2">
</div>
<div class="col-md-8">

    <h2><%= title %></h2>

    <p>Arthub Flanders is een gebruiksvriendelijke zoekmachine of discovery interface 
    om te zoeken naar en toegang te krijgen tot records die culturele erfgoedobjecten beschrijven die bewaard worden door de musea voor Beeldende Kunsten in Vlaanderen. Deze records worden gemaakt, aangepast en beheerd door de musea die 
    hen bijdragen aan dit platform.</p>

    <p>Het platform faciliteert hergebruik van deze records door musea en derde 
    partijen in hun eigen (digitale) projecten.</p>

    <p><strong>Pagina-inhoud</strong></p>

    <ul>
    	<li>Over de catalogus</li>
    	<li>De catalogus gebruiken</li>
    	<li>Voor museummedewerkers</li>
    	<li>Voor ontwikkelaars</li>
    	<li>F.A.Q.</li>
    </ul>

    <h2>Over de catalogus</h2>

    <p>Arthub Flanders is een catalogus van records die culturele erfgoedobjecten beschrijven die bewaard worden door de musea voor Beeldende Kunsten in Vlaanderen. Een record is een verzameling van gestructureerde informatie die verscheidene eigenschappen van het object beschrijven zoals de titel, zijn vervaardiger, de aanvangsdatum, fysieke afmetingen, herkomst, tentoonstellingsgeschiedenis,... Elke eigenschap wordt bewaard in wat men noemt een recordveld.</p>

    <p>Records worden gemaakt, aangepast en beheerd door kennisspecialisten in de culturele erfgoedorganisaties. Records worden bijgehouden in een collectieregistratiesysteem dat fungeert als een centrale kennisbasis voor de organisatie. Deze systemen zijn verbonden met het Arthub Flanders platform en wisselen regelmatig en automatisch met dit platform up-to-date kopieën uit van een gecureerde lijst van records.</p>

    <h2>De catalogus gebruiken</h2>

    <h3>Zoeken doorheen de catalogus</h3>

    <p>Er zijn voornamelijk twee manieren om te zoeken doorheen de catalogus. Je kan de zoekbalk gebruiken om te zoeken naar specifieke zoekwoorden of je kan de facetten aan de linkerkant gebruiken om de zoekresultaten te filteren. Door full text-zoeken en zoekfacetten te combineren kan je gedetailleerde zoekopdrachten uitvoeren die relevante records opleveren.</p>

    <h4>De zoekbalk</h4>

    <p>De zoekbalk bevindt zich op de frontpagina en in de header van elke overige pagina van het platform. Net zoals bij Google, levert de ingave van een of meerdere zoektermen een lijst op van records waarin deze woorden voorkomen. De zoekresultaten worden geordend volgens een relevantiescore. Deze score wordt berekend op basis van hoeveel keer de term voorkomt in een record en de taalkundige context waarin hij voorkomt.</p>

    <p><%= image_tag "manual-screenshot-1.png", :alt => "de zoekbalk" %>
    </p>

    <p>Zoeken op meerdere zoektermen zonder aanhalingstekens levert een reeks resultaten op waarin elke term op zijn minst één keer voorkomt. Meerdere zoektermen tussen aanhalingstekens worden behandeld als één enkele zoekterm.</p>

    <p><%= image_tag "manual-screenshot-2.png", :alt => "de zoekbalk met een zoekopdracht tussen aanhalingstekens" %>
    </p>

    <p>De zoekbalk beschikt - behalve op de frontpagina - over een een dropdown die full 
    text-zoeken beperkt tot specifieke velden zoals 'titel', 'vervaardiger' en 'objectnummer'. Een full text-zoekopdracht wordt standaard uitgevoerd door alle aanwezige velden.</p>

    <h4>De zoekfacetten</h4>

    <p>Aan de linkerkant van de catalogus bevindt zich een reeks facetten die het mogelijk maken om de zoekresultaten te filteren door termen uit gesloten woordenlijsten te combineren. Een sleutelwoord selecteren initieert een zoekopdracht naar het geselecteerde sleutelwoord in het recordveld dat hoort bij de gekozen facet. Volgende selecties van sleutelwoorden reduceren de reeks zoekresultaten verder.</p>

    <p><%= image_tag "manual-screenshot-3.png", :alt => "De zoekfacetten" %></p>

    <p>Elke term in een facet verwijst eveneens naar het aantal records die deze term in het overeenkomstige veld bevat. Het aantal records is gebonden aan de zoekcontext; het verwijst naar het aantal records in de zoekresultaten van de laatste opzoeking, die geassocieerd zijn met die specifieke term.</p>

    <p><%= image_tag "manual-screenshot-4.png", :alt => "De zoekfacetten na de selectie van een sleutelwoord" %></p>

    <h3>Overzichtspagina's</h3>

    <p>De overzichtspagina's tonen een lijst van resultaten die opgeleverd zijn bij het uitvoeren van een zoekopdracht of bij het browsen. Elk resultaat stelt één enkel record voor dat opgehaald werd naar het platform. Een record beschrijft de eigenschappen van een fysiek cultureel erfgoedobject (een schilderij, een beeldhouwwerk, een tapijt, een tekening, een prent,...) zoals de titel, vervaardiger, objecttype, herkomst,... Door gebruik te maken van de pagineringlinks bovenaan de lijst of van de paginering aan de onderkant, kan je browsen doorheen de lijst.</p>

    <p><%= image_tag "manual-screenshot-5.png", :alt => "De zoekresultaten met paginering" %></p>

    <p>Via de 'sorteer op'-dropdown kan je de resultaten sorteren volgens relevantie, vervaardiger, jaar of titel. Wanneer je een zoekopdracht uitvoert, krijgt elk resultaat een relevantiescore. Sorteren volgens relevantie plaatst de resultaten met de hoogste relevantiescore eerst.</p>

    <p>Standaard levert een resultaatpagina 10 resultaten op. Via de 'per pagina'-dropdown kan je tot 100 resultaten per pagina ophalen.</p>

    <p><%= image_tag "manual-screenshot-6.png", :alt => "Uitgeklapte 'sorteer op'-dropdown" 
    %></p>

    <h3>Detailpagina</h3>

    <p>De detailpagina van een record geeft een reeks basiseigenschappen weer. De waarden van sommige van deze eigenschappen zijn links. Wanneer je klikt op deze links, start je een zoekopdracht naar gelijkaardige records die beschikken over dezelfde waarde voor die eigenschap. Onder de basiseigenschappen bevindt zich een kader 'Voor ontwikkelaars' dat een reeks links bevat die nuttig zijn voor wie de opgenomen informatie in zijn eigen (digitale) applicaties wil hergebruiken.</p>

    <p><strong>Getoonde basiseigenschappen</strong></p>

    <div class="row">
        <dl class="dl-horizontal dl-invert">
            <dt>Titel</dt>
            <dd>Dit is de titel van het culturele erfgoedobject.</dd>
            <dt>Vervaardiger</dt>
            <dd>Een of meer personen die betrokken zijn in de vervaardiging van het object. Een persoon beschikt - indien bekend en beschreven - over een qualifier (toegeschreven aan, volgeling van,...), zijn naam en zijn rol in de vervaardiging.</dd>
            <dt>Periode</dt>
            <dd>De tijdsperiode waarin het object vervaardigd werd, aangegeven in
                eeuwen (16de eeuw, 17de eeuw,...).</dd>
            <dt>Datering</dt>
            <dd>De vervaardigingsdatum, indien bekend.</dd>
            <dt>Instelling</dt>
            <dd>De culturele organisatie die de collectie beheert waarvan het object deel uitmaakt.</dd>
            <dt>Type</dt>
            <dd>Het objecttype verwijst naar de objectnaam of naar de objectcategorie waartoe het object behoort.</dd>
            <dt>Subtype</dt>
            <dd>Verdere specificatie van het objecttype.</dd>
            <dt>Materiaal</dt>
            <dd>De fysieke materialen waaruit het object is gemaakt.</dd>
            <dt>Voorstelling</dt>
            <dd>Het algemene thema of motief dat afgebeeld wordt door het object.</dd>
            <dt>Dimensies</dt>
            <dd>De fysieke afmetingen van het object, uitgedrukt in cm of mm.</dd>
            <dt>Objectnummer</dt>
            <dd>Een unieke tekenreeks toegekend door de beherende culturele organisatie. Het objectnummer maakt identificatie van het object binnenin de collectie van de organisatie mogelijk.</dd>
            <dt>Beschrijving</dt>
            <dd>Een algemene beschrijving van het object, gemaakt en geüpdatet door de collectieregistratoren.</dd>
        </dl>
    </div>

    <p><strong>Voor ontwikkelaars</strong></p>

    <p>Het kader <em>Voor ontwikkelaars</em> omvat een reeks nuttige links die het mogelijk maken om de gepubliceerde metadata te hergebruiken.</p>

    <div class="row">
        <dl class="dl-horizontal dl-invert">
            <dt>Permalink</dt>
            <dd>Een permalink is een permanente URL die linkt naar de pagina waar je je op dat moment op bevindt. Permalinks kunnen veranderen doorheen de tijd, maar zijn handig voor het rechtstreeks linken naar de menselijk leesbare pagina zonder doorverwezen te worden via een derde partij. Gebruik deze in content die slechts een beperkte levensduur heeft.</dd>
            <dt>Work PURL</dt>
            <dd>Deze PURL of Persistent URL identificeert ondubbelzinnig het fysieke culturele erfgoedobject dat beschreven wordt door het record. Deze URL is niet bedoeld om gebruikt te worden als een link (dereferencing). Hij wordt louter gebruikt voor identificatie.</dd>
            <dt>Data PURL</dt>
            <dd>Deze PURL of Persistent URL identificeert ondubbelzinnig het record zelf. De hostname in de URL verwijst over het algemeen naar de organisatie die of het museum dat het record heeft aangeboden. Navigeren (dereferencing) naar een data PURL leidt tot een HTML-pagina die een representatie van het record bevat die geviseerd werd door de bijdragende organisatie of het bijdragende museum.</dd>
            <dt>JSON</dt>
            <dd>Dit is een permalink die verwijst naar de presentatie van de data in JSON format.</dd>
            <dt>LIDO XML</dt>
            <dd>Dit is een permalink die verwijst naar de presentatie van de data in LIDO XML format.</dd>
        </dl>
    </div>

    <h2>Voor museummedewerkers</h2>

    <p>Museummedewerkers worden aangemoedigd om records uit het Arthub Flanders-platform te hergebruiken voor hun (digitale) museale projecten. Hoe de records kunnen hergebruikt worden, wordt behandeld in de volgende sectie. Deze sectie is beperkt tot hoe je records kan ophalen uit het Arthub Flanders-platform en hoe je kan communiceren met een technische partner.</p>

    <p><em>Q: Hoe kan ik een gecureerde lijst van records samenstellen?</em><p>

    <p>Ons doel is om een spreadsheet te maken die een lijst van links bevat. Een technische partner kan vervolgens software gebruiken (of ontwikkelen) die door deze lijst gaat, elke link opent, het record downloadt en de informatie uit het record verwerkt.</p>

    <ol>
        <li>Open een spreadsheetprogramma (Excel, LibreOffice,...).</li>
        <li>Open een nieuwe, lege spreadsheet.</li>
        <li>Vul 'link' in in de eerste cel van de eerste kolom. Dit is de kop van je lijst.</li>
        <li>Zoek in de Arthub Flanders-catalogus naar relevante records.</li>
        <li>Navigeer naar de detailpagina van één enkel record dat je wil toevoegen aan je lijst.</li>
        <li>Scrol naar beneden naar het kader 'Voor ontwikkelaars' en klik met je rechtermuisknop op de LIDO XML-link.</li>
        <li>Selecteer 'kopiëren' in het pop-up menu.</li>
        <li>Klik met je rechtermuisknop op de volgende cel in de eerste kolom van de spreadsheet.</li>
        <li>Selecteer 'plakken' in het pop-up menu.</li>
        <li>De link zou nu moeten toegevoegd zijn aan de spreadsheet.</li>
        <li>Blijf links selecteren, kopiëren en plakken om een volledige lijst samen te stellen in de spreadsheet.</li>
        <li>(optioneel) Voeg titels, vervaardigers,... toe in volgende kolommen.</li>
     </ol>

     <p>Eens je klaar bent, geef je je lijst door aan je technische partner. 
     Afhankelijk van de context zal je partner die lijst gebruiken om automatisch de records te downloaden en te verwerken in de (digitale) applicatie die je hebt besteld.</p>

    <p><em>Q: Kan ik later meer records toevoegen?</em><p>

    <p>Ja, dit is mogelijk. Je moet hiervoor enkel bijkomende links doorgeven. Je technische partner kan vragen om deze lijsten door te geven in de vorm van bijkomende spreadsheets. Of je digitale applicatie kan voorzien zijn van een eenvoudige 'upload'-functionaliteit, die automatisch bijkomende records importeert.</p>

    <p><em>Q: Wat gebeurt er als ik een record wijzig?</em></p>

    <p>Het kan zijn dat je verwacht dat je digitale applicatie een bijgewerkte versie van de records in je lijst om de zoveel tijd (wekelijks, maandelijks) ophaalt. Je applicatie moet kunnen omgaan met hoe de geüpdatete informatie verwerkt wordt afhankelijk van wat je probeert te bereiken. Updaten betekent vaak de oudere versie van het record vervangen door een nieuwere versie.</p>

    <p>Let op: als je volgens je business case de records actief moet aanpassen in je digitale applicatie, dan kan het samenvoegen van updates erg complex worden.</p>

    <p>Bespreek altijd met je technische partner wat je wil bereiken en wat de (technische en financiële) implicaties en nadelen ervan zullen zijn!</p>

    <h2>Voor ontwikkelaars</h2>

    <h3>JSON API</h3>

    <p>Het Arthub Flanders-platform voorziet een eenvoudige JSON API.</p>

    <p><strong>Zoekopdrachten</strong></p>

    <p><code>/nl/catalog.json?search_field=all_fields&q="James+Ensor"</code></p>

    <p>Dit levert een response in JSON format op met een lijst van resultaten die bewaard wordt in de eigenschap 'docs'. De eigenschap 'pages' bevat extra informatie die automatische paginering en harvesting via de API mogelijk maakt.</p>

    <pre><code>{
  "response": {
    "docs":[ ... ],
    "pages": {  
      "current_page":1,
      "next_page":2,
      "prev_page":null,
      "total_pages":7,
      "limit_value":10,
      "offset_value":0,
      "total_count":61,
      "first_page?":true,
      "last_page?":false
    }
  }
}</code></pre>

    <p><strong>Een afzonderlijk record</strong></p>

    <p>Switchen tussen de XML- of JSON-presentatie van een record is 
    mogelijk door in de URL de 'xml'-bestandsextensie te veranderen in 'json' en vice versa.</p>

    <p><code>/nl/catalog/kmska:2712_236.json</code>

    <pre><code>{
  "response": {
    "document":{
      "creator":["Arnó Stern"],
      "data_pid":"http://kmska.be/collection/work/data/2712_236",
      "creator_display":["Arno Stern"],
      "artwork_type_display":["tekening"],
      "period":"19de eeuw",
      "work_pid":"http://kmska.be/collection/work/id/2712_236",
      "object_number":"2712/236",
      "title_display":"De schilder James Ensor",
      "production_date":"0",
      "production_date_sort":"0",
      "repository":"KMSKA",
      "artwork_category":["Figuurvoorstellingen"],
      "creator_role":["tekenaar"],
      "id":"kmska:2712_236",
      "timestamp":"2017-11-22T17:26:55.018Z"
    }
  }
}</code></pre>

    <p><code>/nl/catalog/kmska:2712_236.xml</code>

    <p>De XML-variant bevat het volledige LIDO XML-document zoals het aangeboden wordt door de bijdragende culturele organisatie. De JSON-presentatie van het document bevat enkel die informatie uit het LIDO XML-document die nodig is om het record weer te geven en vindbaar te maken in de Arthub Flanders-zoekmachine.</p>

	<h3>OAI-PMH</h3>

    <p>De Arthub Flanders voorziet een OAI-PMH endpoint om gemakkelijk alle beschikbare records op te halen via de Datahub. De endpoint biedt de records aan in LIDO XML format.</p>

    <p>De endpoint is beschikbaar via deze URL:</p>

    <p><a href="https://datahub.vlaamsekunstcollectie.be/oai">
    https://datahub.vlaamsekunstcollectie.be/oai</a></p>

    <p>Meer informatie kan gevonden worden op de 
    <a href="https://www.openarchives.org/pmh/">OAI-PMH website</a>.</p>

    <h2>F.A.Q.</h2>

    <p><em>Q: Zie ik alle informatie die geregistreerd werd door de musea?</em></p>

    <p>De Arthub Flanders publiceert een record met een gecureerde reeks van basiseigenschappen die geregistreerd werden door de musea. De musea registreren veel verschillende aspecten van een cultureel erfgoedobject. Enkele aspecten worden niet gepubliceerd omwille van verscheidene redenen zoals copyright, vertrouwelijkheid, veiligheid en privacy. Andere eigenschappen, zoals tentoonstellingsgeschiedenis of herkomst, worden mogelijk op een later tijdstip toegevoegd aangezien kennis verzamelen over een cultureel erfgoedobject blijvende inspanning vergt.</p>

    <p><em>Q: Hoe vaak worden records geüpdatet?</em></p>

    <p>De records beschikbaar in de Arthub Flanders-catalogus worden wekelijks geüpdatet. Updates bevatten verbeteringen van bestaande records en de toevoeging van nieuwe records.</p>

    <p><em>Q: Waarom zie ik dubbele records?</em></p>

    <p>Sommige organisaties, zoals de Vlaamse Kunstcollectie, beheren geen collectie van culturele erfgoedobjecten. Als onderdeel van haar kernmissie, onderhoudt de Vlaamse Kunstcollectie in haar eigen collectieregistratiesysteem een kopie van de records die oorspronkelijk gemaakt zijn door de culturele erfgoedorganisaties die zij vertegenwoordigt. Deze dubbele records worden vervolgens 'verrijkt' met extra informatie zoals vertalingen, specifieke terminologieën of content voor bepaalde doelgroepen.</p>

    <p>Deze dubbele records zijn ook beschikbaar in de Arthub Flanders als alternatieven voor het record dat aangeboden werd door de culturele erfgoedorganisatie die het fysieke erfgoedobject bewaart. Je kan de herkomst van een record afleiden uit de 'Data PURL' en 'Work PURL'. Deze persistente URL's identificeren ondubbelzinnig het record en het culturele erfgoedobject dat ze beschrijven. Records die hetzelfde culturele erfgoedobject beschrijven, hebben verschillende Data PURL's, maar dezelfde Work PURL.</p>

    <p>Het recordveld 'Instelling' is een andere indicator voor de herkomst van een record, maar geeft niet aan dat die instelling de eigenaar is van het culturele erfgoedobject.</p>

</div>
