<% doc_presenter = show_presenter(document) %>

<div class="uv viewer" "data-config="/uv-config.json" data-uri="<%= render_iiif_manifest_url(document) %>"></div>
<%= PulUvRails::UniversalViewer.script_tag %>

<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal  dl-invert">
  <% document_show_fields(document).each do |field_name, field| -%>
    <% if should_render_show_field? document, field %>
	    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
	    <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field %></dd>
    <% end -%>
  <% end -%>
</dl>
