<% doc_presenter = show_presenter(document) %>

<div class="mirador">
  <%= mirador_tag(
      id: "viewer",
      height: '500px', 
      width: '100%',
      options: {
        layout: "1x1",
        data: [
         {
          manifestUri: render_iiif_manifest_url(document)
         }
        ],
        mainMenuSettings: {
          show: false
        },
        windowObjects: [
            loadedManifest: render_iiif_manifest_url(document),
            viewType: "ImageView",
            displayLayout: false,
            bottomPanel: false,
            bottomPanelAvailable: false,
            bottomPanelVisible: false,
            sidePanel: false,
            annotationLayer: false
        ]
      }
    )
   %>
</div>

<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal  dl-invert">
  <% document_show_fields(document).each do |field_name, field| -%>
    <% if should_render_show_field? document, field %>
	    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
	    <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field %></dd>
    <% end -%>
  <% end -%>
</dl>
