<% content_for(:meta_description) do %><%= t :meta_description_search_results %><% end %>

<div id="sidebar" class="<%= sidebar_classes %>">
  <%= render 'search_sidebar' %>
</div>

<div id="content" class="<%= main_content_classes %>">
    <%= render 'search_results' %>
</div>
